
#### Dataset: 

air pollution dataset from the U.S.
Environmental Protection Agency (EPA) containts hourly ozone levels in the United States for the year 2014

### Exploratory Data Analysis Checklist

1. Formulate your question
2. Read in your data
3. Check the packaging
4. Run str()
5. Look at the top and the bottom of your data
6. Check your “n”s
7. Validate with at least one external data source
8. Try the easy solution first
9. Challenge your solution
10. Follow up


References: The steps have been taken from 'Exploratory Data Analysis with R - chapter 5' and converted to python code.

#### Formulate your question

a sharp question or hypothesis can serve as a dimension reduction tool that
can eliminate variables that are not immediately relevant to the question. 

e.g Which counties in the United States have the highest levels of ambient ozone
pollution?

In [2]:
import pandas as pd

In [91]:
df = pd.read_csv("~/Documents/data/hourly_44201_2014.csv", low_memory=False, dtype = {'State Code':str, 'County Code':str, 'Site Num':str, 'Parameter Code':str, 'POC':int,
       'Latitude':float, 'Longitude':float, 'Datum':str, 'Parameter Name':str, 'Date Local':str,
       'Time Local':str, 'Date GMT':str, 'Time GMT':str, 'Sample Measurement':float,
       'Units of Measure':str, 'MDL':float, 'Uncertainty':float, 'Qualifier':str, 'Method Type':str,
       'Method Code':int, 'Method Name':str, 'State Name':str, 'County Name':str,'Date of Last Change':str})

In [92]:
df.head()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Date Local,...,Units of Measure,MDL,Uncertainty,Qualifier,Method Type,Method Code,Method Name,State Name,County Name,Date of Last Change
0,01,003,0010,44201,1,30.497478,-87.880258,NAD83,Ozone,2014-03-01,...,Parts per million,0.005,NaN,NaN,FEM,47,INSTRUMENTAL - ULTRA VIOLET,Alabama,Baldwin,2014-06-30
1,01,003,0010,44201,1,30.497478,-87.880258,NAD83,Ozone,2014-03-01,...,Parts per million,0.005,NaN,NaN,FEM,47,INSTRUMENTAL - ULTRA VIOLET,Alabama,Baldwin,2014-06-30
2,01,003,0010,44201,1,30.497478,-87.880258,NAD83,Ozone,2014-03-01,...,Parts per million,0.005,NaN,NaN,FEM,47,INSTRUMENTAL - ULTRA VIOLET,Alabama,Baldwin,2014-06-30
3,01,003,0010,44201,1,30.497478,-87.880258,NAD83,Ozone,2014-03-01,...,Parts per million,0.005,NaN,NaN,FEM,47,INSTRUMENTAL - ULTRA VIOLET,Alabama,Baldwin,2014-06-30
4,01,003,0010,44201,1,30.497478,-87.880258,NAD83,Ozone,2014-03-01,...,Parts per million,0.005,NaN,NaN,FEM,47,INSTRUMENTAL - ULTRA VIOLET,Alabama,Baldwin,2014-06-30

In [93]:
df.columns

Index(['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC',
       'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Date Local',
       'Time Local', 'Date GMT', 'Time GMT', 'Sample Measurement',
       'Units of Measure', 'MDL', 'Uncertainty', 'Qualifier', 'Method Type',
       'Method Code', 'Method Name', 'State Name', 'County Name',
       'Date of Last Change'],
      dtype='object')

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9060694 entries, 0 to 9060693
Data columns (total 24 columns):
 #   Column               Dtype
---  ------               -----
 0   State Code           object
 1   County Code          object
 2   Site Num             object
 3   Parameter Code       object
 4   POC                  int64
 5   Latitude             float64
 6   Longitude            float64
 7   Datum                object
 8   Parameter Name       object
 9   Date Local           object
 10  Time Local           object
 11  Date GMT             object
 12  Time GMT             object
 13  Sample Measurement   float64
 14  Units of Measure     object
 15  MDL                  float64
 16  Uncertainty          float64
 17  Qualifier            object
 18  Method Type          object
 19  Method Code          int64
 20  Method Name          object
 21  State Name           object
 22  County Name          object
 23  Date of Last Change  object
dtypes: float64(5), int64(2), object(17)
memory usage: 1.6+ GB

In [95]:
df.columns = df.columns.str.replace(' ', '') # remove white space in columns names

In [96]:
df.tail() # this ensures we have read the dataset correctly

,StateCode,CountyCode,SiteNum,ParameterCode,POC,Latitude,Longitude,Datum,ParameterName,DateLocal,...,UnitsofMeasure,MDL,Uncertainty,Qualifier,MethodType,MethodCode,MethodName,StateName,CountyName,DateofLastChange
9060689,80,006,0007,44201,1,31.7122,-106.3953,WGS84,Ozone,2014-08-31,...,Parts per million,0.005,NaN,NaN,FEM,87,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,Country Of Mexico,CHIHUAHUA STATE,2015-06-09
9060690,80,006,0007,44201,1,31.7122,-106.3953,WGS84,Ozone,2014-08-31,...,Parts per million,0.005,NaN,NaN,FEM,87,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,Country Of Mexico,CHIHUAHUA STATE,2015-06-09
9060691,80,006,0007,44201,1,31.7122,-106.3953,WGS84,Ozone,2014-08-31,...,Parts per million,0.005,NaN,NaN,FEM,87,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,Country Of Mexico,CHIHUAHUA STATE,2015-06-09
9060692,80,006,0007,44201,1,31.7122,-106.3953,WGS84,Ozone,2014-08-31,...,Parts per million,0.005,NaN,NaN,FEM,87,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,Country Of Mexico,CHIHUAHUA STATE,2015-06-09
9060693,80,006,0007,44201,1,31.7122,-106.3953,WGS84,Ozone,2014-08-31,...,Parts per million,0.005,NaN,NaN,FEM,87,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,Country Of Mexico,CHIHUAHUA STATE,2015-06-09

In [97]:
df.columns

Index(['StateCode', 'CountyCode', 'SiteNum', 'ParameterCode', 'POC',
       'Latitude', 'Longitude', 'Datum', 'ParameterName', 'DateLocal',
       'TimeLocal', 'DateGMT', 'TimeGMT', 'SampleMeasurement',
       'UnitsofMeasure', 'MDL', 'Uncertainty', 'Qualifier', 'MethodType',
       'MethodCode', 'MethodName', 'StateName', 'CountyName',
       'DateofLastChange'],
      dtype='object')

In [80]:
#df['Date.Local'] = pd.to_datetime(df.DateLocal)


#df = df.applymap(str)
#df[["Latitude", "Longitude", "SampleMeasurement","MDL", "Uncertainty"]] = df[["Latitude", "Longitude","SampleMeasurement", "MDL", "Uncertainty"]].apply(pd.to_numeric)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9060694 entries, 0 to 9060693
Data columns (total 26 columns):
 #   Column             Dtype
---  ------             -----
 0   StateCode          object
 1   CountyCode         object
 2   SiteNum            object
 3   ParameterCode      object
 4   POC                object
 5   Latitude           object
 6   Longitude          object
 7   Datum              object
 8   ParameterName      object
 9   DateLocal          object
 10  TimeLocal          object
 11  DateGMT            object
 12  TimeGMT            object
 13  SampleMeasurement  object
 14  UnitsofMeasure     object
 15  MDL                object
 16  Uncertainty        object
 17  Qualifier          object
 18  MethodType         object
 19  MethodCode         object
 20  MethodName         object
 21  StateName          object
 22  CountyName         object
 23  DateofLastChange   object
 24  Date.Local         object
 25                     object
dtypes: object(26)
memory usage: 1.8+ GB

In [102]:

filtered_rows = df.loc[(df['StateCode'] == "36") & (df['CountyCode'] == "033") & (df['DateLocal'] == "2014-09-30") ]

In [104]:
filtered_rows.columns

Index(['StateCode', 'CountyCode', 'SiteNum', 'ParameterCode', 'POC',
       'Latitude', 'Longitude', 'Datum', 'ParameterName', 'DateLocal',
       'TimeLocal', 'DateGMT', 'TimeGMT', 'SampleMeasurement',
       'UnitsofMeasure', 'MDL', 'Uncertainty', 'Qualifier', 'MethodType',
       'MethodCode', 'MethodName', 'StateName', 'CountyName',
       'DateofLastChange'],
      dtype='object')

In [105]:
adult_names[['DateLocal','TimeLocal', 'SampleMeasurement']]

          DateLocal TimeLocal  SampleMeasurement
5738169  2014-09-30     00:00              0.011
5738170  2014-09-30     01:00              0.012
5738171  2014-09-30     02:00              0.012
5738172  2014-09-30     03:00              0.011
5738173  2014-09-30     04:00              0.011
5738174  2014-09-30     05:00              0.011
5738175  2014-09-30     06:00              0.010
5738176  2014-09-30     07:00              0.010
5738177  2014-09-30     08:00              0.010
5738178  2014-09-30     09:00              0.010
5738179  2014-09-30     10:00              0.010
5738180  2014-09-30     11:00              0.012
5738181  2014-09-30     12:00              0.011
5738182  2014-09-30     13:00              0.013
5738183  2014-09-30     14:00              0.016
5738184  2014-09-30     15:00              0.017
5738185  2014-09-30     16:00              0.017
5738186  2014-09-30     17:00              0.015
5738187  2014-09-30     18:00              0.017
5738188  2014-09-30     19:00              0.014
5738189  2014-09-30     20:00              0.014
5738190  2014-09-30     21:00              0.011
5738191  2014-09-30     22:00              0.010
5738192  2014-09-30     23:00              0.010
5743138  2014-09-30     00:00              0.010
5743139  2014-09-30     01:00              0.011
5743140  2014-09-30     02:00              0.011
5743141  2014-09-30     03:00              0.010
5743142  2014-09-30     04:00              0.010
5743143  2014-09-30     05:00              0.010
5743144  2014-09-30     06:00              0.009
5743145  2014-09-30     07:00              0.008
5743146  2014-09-30     08:00              0.009
5743147  2014-09-30     09:00              0.009
5743148  2014-09-30     10:00              0.009
5743149  2014-09-30     11:00              0.011
5743150  2014-09-30     12:00              0.010
5743151  2014-09-30     13:00              0.012
5743152  2014-09-30     14:00              0.015
5743153  2014-09-30     15:00              0.016
5743154  2014-09-30     16:00              0.016
5743155  2014-09-30     17:00              0.014
5743156  2014-09-30     18:00              0.016
5743157  2014-09-30     19:00              0.013
5743158  2014-09-30     20:00              0.013
5743159  2014-09-30     21:00              0.010
5743160  2014-09-30     22:00              0.009
5743161  2014-09-30     23:00              0.009

how many states are represented in this dataset?

In [106]:
len(df['StateName'].unique().tolist())

53

there are 53 states in the dataset, but
only 50 states in the U.S.!

In [107]:
df['StateName'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District Of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico',
       'Country Of Mexico'], dtype=object)

Washington, D.C. (District of Columbia) and Puerto Rico are the
“extra” states included in the dataset. Since they are clearly part of the U.S. (but not official
states of the union) that all seems okay.

the current
standard2 set in 2008 is that the “annual fourth-highest daily maximum 8-hr concentration, averaged over 3 years” should not exceed 0.075 parts per million (ppm). The exact
details of how to calculate this are not important for this analysis, but roughly speaking,
the 8-hour average concentration should not be too much higher than 0.075 ppm (it can
be higher because of the way the standard is worded)

In [110]:
df['SampleMeasurement'].describe()

count    9.060694e+06
mean     3.027292e-02
std      1.550847e-02
min     -5.000000e-03
25%      1.900000e-02
50%      3.000000e-02
75%      4.100000e-02
max      2.130000e-01
Name: SampleMeasurement, dtype: float64

From the summary we can see that the maximum hourly concentration is quite high
(0.349 ppm) but that in general, the bulk of the distribution is far below 0.075.

In [112]:
pd.qcut(df['SampleMeasurement'],  q=[0, 0.1, 0.2, 0.3, 0.4, 0.5,0.6,0.7,0.8,0.9,1])

0            (0.043, 0.05]
1            (0.043, 0.05]
2           (0.039, 0.043]
3           (0.035, 0.039]
4            (0.03, 0.035]
                ...
9060689     (0.016, 0.022]
9060690     (0.016, 0.022]
9060691     (0.022, 0.026]
9060692    (-0.006, 0.009]
9060693    (-0.006, 0.009]
Name: SampleMeasurement, Length: 9060694, dtype: category
Categories (10, interval[float64]): [(-0.006, 0.009] < (0.009, 0.016] < (0.016, 0.022] < (0.022, 0.026] ... (0.035, 0.039] < (0.039, 0.043] < (0.043, 0.05] < (0.05, 0.213]]

Knowing that the national standard for ozone is something like 0.075, we can see from
the data that
• The data are at least of the right order of magnitude (i.e. the units are correct)
• The range of the distribution is roughly what we’d expect, given the regulation
around ambient pollution levels
• Some hourly levels (less than 10%) are above 0.075 but this may be reasonable given
the wording of the standard and the averaging involved.

Which counties in the United States have the highest levels of ambient ozone
pollution?

let’s just blindly take the average across
the entire year for each county and then rank counties according to this metric

In [ ]:
df_new  = df.groupby("year", sort=True)